/* @import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,700;8..60,900&display=swap"); */

.segment-3 {
  width: 85%;
  margin: 0 auto;
  color: black;
}
.segment-3 h1 {
  font-family: "Source Serif 4", serif;
  font-weight: 400 !important;
  letter-spacing: -0.5px;
  font-size: 48px !important;
}

.segment-3 small {
  background-color: #ffda79;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
  color: rgb(3, 3, 33);
  font-weight: 500;
}
