.segment-1 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  width: 85%;
  margin: 80px auto;
  color: black;
  gap: 20px;
}

.segment-1 h1 {
  font-family: "Source Serif 4", serif;
  font-size: var(--headerSM) !important;
  text-align: center;
}
.segment-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  /* align-items: center; */
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}
@media only screen and (min-width: 600px) {
  .segment-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .segment-1-text {
    justify-content: flex-start;
    line-height: 1.8em;
  }
  .segment-1 h1 {
    font-size: var(--headerMD) !important;
    text-align: left;
  }
}
@media only screen and (min-width: 600px) {
  .segment-1 h1 {
    font-size: var(--headerLG) !important;
  }
}
