.project {
  color: black;

  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.project-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-header-tech {
  border: 1px solid rgba(128, 128, 128, 0.5);
  /* border: 1px solid red; */
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  min-height: 350px;
  border-radius: 10px;
}
.project-header-text {
  max-width: 900px;
  margin-bottom: 20px;
}
.project h1 {
  font-family: "Source Serif 4", serif;
  font-size: var(--headerSM) !important;
  margin-top: 20px;
}
.project p {
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.75px;
  line-height: 2em;
}
.project small {
  background-color: #ffda79;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
  color: rgb(3, 3, 33);
  font-weight: 500;
  margin-bottom: 50px !important;
}

.project span {
  color: #f9c349;
}

.project-tech {
  display: flex;
  width: 100%;
  min-width: 300px;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 5px;
  margin: 10px 0;
}
.project-tech-icon {
  width: 100%;
  max-width: 40px;
  border-radius: 1px solid grey;
  background-color: rgba(245, 222, 179, 0.5);
  padding: 2px;
  border-radius: 5px;
}

.project-images {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  grid-gap: 10px;
  border: 1px solid rgba(128, 128, 128, 0.025);
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #f9f9fa;
}
.project-image {
  /* border: 1px solid rgba(128, 128, 128, 0.15); */
  height: 450px;
  width: 100%;
  border-radius: 10px;
}

.project-gallery {
  height: 400px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);
}
@media only screen and (min-width: 600px) {
  .project h1 {
    font-size: var(--headerMD) !important;
  }
}

@media only screen and (min-width: 1300px) {
  .project h1 {
    font-size: var(--headerLG) !important;
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .project-header-tech {
    align-items: end;
  }

  .project-images {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-gallery {
    background-position: cover;
  }
}
