.carousel-sm {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0 auto;
}

.sm-carousel-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: calc(320px + 7vw);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px 0px;
  margin: 10px auto;
  border: 1px solid rgba(128, 128, 128, 0.35);
  border-radius: 10px;
  overflow: hidden;
}
.overlay-sm {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.carousel-sm-content {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.carousel-content-header {
  color: #ffbf41;
  font-weight: 800;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 600px) {
  .carousel-container {
    display: none;
  }
}
