nav {
  /* border: 1px solid green;
  display: flex;
  justify-content: flex-end;
  gap: 20px; */
  background-color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.mobilenav {
  transition: all 0.35s ease-in-out;

  /* animation: 0.45s fadeInFromLeft; */
}

.shownav {
  transform: translateX(0%);
  opacity: 1;
}

.hidenav {
  transform: translateX(-100%);
  opacity: 0;
}

.img {
  max-width: 30px;
}
.backdrop {
  /* position: fixed;
  height: 100vh;
  background: red;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}
@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.25;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
