.carousel-container {
  width: 400px;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  gap: 15px;
  background-color: white;
}

.carousel-item {
  width: 35%;
  min-width: 185px;
  max-width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.carousel-item h1 {
  margin: 0;
  padding: 10px;
}
