.content-page {
  transition: all 0.5s ease-in-out;
  border: 1px solid grey;
  width: 85%;
  margin: 0 auto;
  padding: 15px;
}
.content-login {
  border: 1px solid grey;
  max-width: 600px;
  margin: 0 auto;
  height: 450px;
  border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login input {
  width: 100%;
  min-width: 20rem;
}

.content-login small {
  cursor: pointer;
}

.messages-container {
  display: grid;
}
.messages-box {
  color: black !important;
  border: 1px solid rgba(128, 128, 128, 0.5);
  min-height: 175px;

  margin: 10px 0;

  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.message-box-author {
  background-color: aliceblue;
  padding: 10px;
}
.message-box-message {
  padding: 10px;
  line-height: 1.8em;
}
.message-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .messages-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 1100px) {
}
