@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-color: grey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary: #275dad;
  --secondary: #5ea9ff;
}

a {
  color: white;
}

button {
  transition: all 0.35s ease-in-out;
  color: white;
}

.btn {
  background-color: var(--secondary);
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
}
@media only screen and (min-width: 600px) {
  button:hover {
    transform: translateY(-3px);
  }
  .btn:hover {
    background-color: var(--primary);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
