.portfolio-page h1 {
  font-family: "Source Serif 4", serif;
  font-weight: 400 !important;
  letter-spacing: -0.5px;
  font-size: var(--headerSM) !important;
  color: black;
  margin: 50px auto;
  text-align: center;
}

.portfolio-container {
  width: 95%;
  margin: 10px auto;
  grid-gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-item {
  max-height: 350px;
  width: 100%;
  max-width: 450px;
  /* background-color: darkslategray; */
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-gap: 0px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 10px;
}
.item-detail-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.detail-box-overlay {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.item-icon img {
  width: 100%;
  max-width: 20px;
  cursor: pointer;
}

.item-details-cta {
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  padding: 3px 5px;
}
.item-icons-small {
  display: flex;
  gap: 10px;
}

/* Initially hide the child div */
.item-detail-box .detail-box-overlay {
  display: none;

  cursor: pointer;
}

/* When the parent is hovered, show the child */
.item-detail-box:hover .detail-box-overlay {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;

  font-weight: 600;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.7954831590839461) 0%,
    rgba(2, 0, 36, 0.753466352361257) 35%,
    rgba(0, 212, 255, 0) 100%
  );
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-page h1 {
    font-size: var(--headerMD) !important;
  }
}

@media only screen and (min-width: 900px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-page h1 {
    font-size: var(--headerLG) !important;
  }
}

@media only screen and (min-width: 1300px) {
  .portfolio-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
