.segment-2 {
  color: black;
  width: 85%;
  margin: 50px auto;
  animation: fadeIntoScreen 500ms ease-in-out;
}

.segment-2-upper {
  margin-bottom: 25px;
}
.segment-2-upper h1 {
  font-size: var(--headerSM);
  line-height: 56px;
  font-weight: 400;
}
.segment-2-lower {
  display: flex;
  flex-direction: column;
}

.segment-2-ls {
  padding: 20px 10px 60px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  line-height: 1.5em;
}
.segment-2-ls p {
  margin-bottom: 30px;
}
.segment-2-lower h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .segment-2-lower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .segment-2-upper h1 {
    font-size: var(--headerMD);
  }
  .segment-2-ls {
    padding: 30px 20px 60px;
    line-height: 1.6em;
  }
}
